<%- include('../partials/header') %>

<h2><%=title%></h2>

<div>
  <img src="https://sneakerbardetroit.com/wp-content/uploads/2020/01/Dior-Air-Jordan-1-High-1.jpg" alt="jordans">
 </div> 
  <div>
    <img src="https://cdn.shopify.com/s/files/1/0652/2522/8541/collections/YEEZY_COLLECTION_PHOTO.png?v=1657641625" alt="yeezys">
  </div>
  
<%- include('../partials/footer') %>