<%- include('../partials/header') %>

<h2><%=title%></h2>

<div>
  <img src="https://izzycooking.com/wp-content/uploads/2022/04/Sushi-01.jpg" alt="sushi">
 </div> 
  
<%- include('../partials/footer') %>