<%- include('../partials/header') %>

<h2><%=title%></h2>

<div>
  <img src="https://www.incimages.com/uploaded_files/image/1920x1080/getty_632901074_2000133120009280121_341397.jpg" alt="serena">
 </div> 
  
<%- include('../partials/footer') %>